<nav class="nav-bar-alone">
   <img id="logo" src="/images/logo.jpg" alt="handshake logo">
</nav>

<h1>Company Signup</h1>

<form action="/auth/company/signup" method="POST">
   <label for="username">username</label>
   <input type="text" id="username" name="username">
   <br>
   <label for="password">password</label>
   <input type="password" id="password" name="password">
   <br>
   <label for="email">email</label>
   <input type="email" id="email" name="email">
   <br>

   <label for="location">location</label>
   <input type="location" id="location" name="location">
   <br>

   <label for="address">Address</label>
   <input type="address" id="address" name="address">
   <br>

   <label for="contact">contact</label>
   <input type="contact" id="contact" name="contact">
   <br>


   <label for="businessSector">Business Sector</label>
   <input type="businessSector" id="businessSector" name="businessSector">

   <br>
   <label for="description">description</label>
   <textarea row="10" cols="30" id="description" name="description"></textarea>

   <br>

   <br>

   <button type="submit">Submit</button>
</form>