<nav class="nav-bar">
  <ul class="nav-bar-ul">
    <li><a href="./freelancerLanding">Home</a></li>
    <li><a href="./freelancer/profile">Profile</a></li>
    <li><a href="./auth/logout">Logout</a></li>
</nav>


<h1>Apply page</h1>

{{project.name}}

<form action="/freelancer/apply/{{project._id}}" method="POST">
  <button>Apply</button>
</form>