<nav class="nav-bar">
  <img id="logo" src="/images/logo.jpg" alt="handshake logo">
  <ul class="nav-bar-ul">
    <li><a href="/freelancerLanding">Home</a></li>
    <li><a href="/freelancer/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
<h1>Apply page</h1>

{{project.name}}

<form action="/freelancer/apply/{{project._id}}" method="POST">
  <button>Apply</button>
</form>