<h1>Company Landing</h1>


<h2>
  Hi {{company.username}}
</h2>

<button>
  <a href="/company/profile">See my profile</a>
</button>

<button>
  <a href="/company/project">Create a Project</a>
</button>



{{#each companyProjects}}
<p>{{name}}</p>
<form action="/company/deletePost/{{_id}}" method="POST">
  <button type="submit" id="delete">Delete Project
  </button>
</form>
{{/each}}