<nav class="nav-bar-alone">
   <img id="logo" src="/images/logo.jpg" alt="handshake logo">
</nav>

<h2>A social network, <br>where specialists can find exciting projects, <br> and entrepreneurs can find help from great
   people to build their MVPs faster.</h2>



<a href="/auth/freelancer/signup">Freelancer signup</a>


<a href="/auth/company/signup">Company signup</a>



<a href="/login">Log In</a>
<a href="/auth/logout">Log Out</a>

<div id="logoCredentials">Logo created by <a href="https://www.designevo.com/logo-maker/"
      title="Free Online Logo Maker">DesignEvo logo
      maker</a></div>