<nav class="nav-bar-alone">
   <img id="logo" src="/images/logo.jpg" alt="handshake logo">
</nav>
<br>
{{!-- <h2>A social network, <br>where specialists can find
   exciting projects, <br>
   and entrepreneurs can find help from great
   people to build their MVPs faster.</h2> --}}
<div class="page-layout">
   <h1>Handshake</h1>
   <br>
   <br>
   <div class="index-text">
      <h3>Where developers, security engineers and UX/UI designers <br>
         will find their new, exciting projects. <br>
         <br>
         Where companies will find talent to help them build their projects faster.</h3>
   </div>

   {{!-- <br>
   <div class="index-text">
      <h3 class="title">Together you will hit the ground running to create your...
         <br>
         ...and change the World!</h3>
   </div> --}}
   <br>
   <br>

   <div class="index-signup-buttons">
      <a class="create-project" id="index-speciffic-signin" href="/auth/freelancer/signup">Freelancer signup</a>

      <a class="create-project" id="index-speciffic-signin" href="/auth/company/signup">Company signup</a>
      <br>
   </div>
   <br>
   <br>

   <a class="create-project" href="/login">Log In</a>
   <br>

   <a class="create-project" id="index-logout" href="/auth/logout">Log Out</a>


   <div id="logoCredentials">Logo created by <a id="logoLink" href="https://www.designevo.com/logo-maker/"
         title="Free Online Logo Maker">DesignEvo logo
         maker</a></div>
</div>