<h1 class='h1login'>Please Login here:</h1>

<div class='login'>
  <div class='form'>
    <h3 class='h3login'>Freelancers login here:</h3>
    <form class='formlogin' action="/auth/freelancer/login" method="POST">
      <span>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </span>
      <span>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </span>
      <span>
        <button class='enterButton' type="submit">Login</button>
      </span>
    </form>
  </div>


  <div class='form'>
    <h3 class='h3login'>Companies login here:</h3>
    <form class='formlogin' action="/auth/company/login" method="POST">
      <span>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </span>
      <span>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </span>
      <span>
        <button class='enterButton' type="submit">Login</button>
      </span>
    </form>
  </div>
</div>
{{#if errorMessage}}
<h3 style="color:red">{{errorMessage}}</h3>
{{/if}}