/* OUR FONTS
font-family: 'Indie Flower', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

/* OUR COLORS
main light yellow : #fff8cd
30% gray #646464
10% orange #ff9642
and bright yellow if we want #ffe05d */

/* belowe code is what we were advised always to start with so there are no white borders around pages viwes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff8cd;
  color: #646464;
}

body {
  font-family: "Nunito", sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

/* Gosias CSS BELOW */
.title {
  font-family: "Roboto", sans-serif;
  color: #ff9642;
}

#logo {
  height: 80px;
  margin-left: 20px;
  /* background-color: #646464; */
}
#logoCredentials {
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
}

#logoLink {
  text-decoration: none;
}

.nav-bar-alone {
  height: 80px;
  background-color: #646464;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-bar {
  height: 80px;
  background-color: #646464;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-ul {
  margin: 0;
  display: flex;
  background-color: #646464;
}
.nav-bar-ul li {
  list-style: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  background-color: #646464;
}

.nav-bar a {
  text-decoration: none;
  font-size: 1rem;
  background-color: #646464;
  text-align: right;
  float: right;
  color: #ff9642;
}

.create-project {
  padding: 2px 6px 2px 6px;
  display: flex;
  text-decoration: none;
  font-size: 0.9rem;
  background-color: #ff9642;
  text-align: right;
  float: right;
  color: #646464;
  outline-color: none;
  border: none;
  border-radius: 8%;
}

.buttons-inside-project {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.new-project-button {
  padding: 5px 7px;
  display: flex;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #ff9642;
  text-align: right;
  float: right;
  color: #646464;
  outline-color: none;
  border: none;
  border-radius: 8%;
}

.project-box {
  border: solid;
  border-color: #ff9642;
  width: 35vw;
  border-width: thin;
  padding: 20px;
}

.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkboxes {
  padding-left: 10px;
}
.input {
  background-color: #fff8cd;
  border: solid 1px;
  margin-bottom: 8px;
}

.profile-details {
  text-align: left;
}

.profile-details-name {
  color: #ff9642;
}

#freelancerapply {
  padding: 10px;
}

.index-text {
  width: 60vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.index-phrase {
  width: 60vw;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff9642;
}

.index-signup-buttons {
  width: 60vw;
  display: flex;
  justify-content: center;
}

#index-speciffic-signin {
  margin-left: 10%;
  margin-right: 10%;
}

#index-logout {
  visibility: hidden;
}
/* end of Gosia's css */

/* ALEX's css */

.signup {
  display: flex;

  justify-content: center;
  margin-top: 1cm;
  align-content: center;
}
#h1Signup {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
span.basicform {
  display: flex;
  flex-flow: row nowrap;
}
.basicform > label {
  display: flex;
  width: 20vw;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  margin-right: 0.35cm;
  color: #ff9642;
}
.basicform > input {
  display: flex;
  width: 40vw;
  height: 20px;
  justify-content: center;
  flex-flow: row wrap;
  outline-color: #646464;
  color: #646464;
  border: 1px solid #646464;
  font-size: 0.9rem;
}
textarea {
  width: 40vw;
}
.submitbutton {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8%;
  padding: 2px 10px 2px 10px;
  background-color: #ff9642;
  color: #646464;
  font-weight: 900;
  outline-color: #646464;
  font-family: "Roboto", sans-serif;
  border: none;
}
.enterButton {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8%;
  padding: 2px 10px 2px 10px;
  background-color: #ff9642;
  color: #646464;
  font-weight: 900;
  outline-color: #646464;
  font-family: "Roboto", sans-serif;
  border: none;
}
.skills {
  border: 5px navy;
  margin-left: 3cm;
}
span.checkbox {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
}
.checkbox > label {
  display: flex;
  width: 40vw;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  color: #ff9642;
}
.checkbox > input {
  display: flex;
  width: 50px;
  justify-content: center;
  flex-flow: row wrap;
  height: 15px;
}
h3 {
  display: flex;
  justify-content: center;
}

.h1login {
  display: flex;
  justify-content: center;
}
.h3login {
  display: flex;
  justify-content: center;
}
.form {
  width: 40vw;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formlogin {
  display: flex;
  justify-content: flex-start;
}
.formlogin > span {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
}
.formlogin > span > input {
  margin-left: 1cm;
}
.formlogin > span > button {
  font-size: 1rem;
  padding: 5px 7px;
  display: flex;
  text-decoration: none;
  background-color: #ff9642;
  text-align: right;
  float: right;
  color: #646464;
  outline-color: none;
  border: none;
  border-radius: 8%;
}
